@import "node_modules/bootstrap/scss/bootstrap";
//
body {
    ui-navbar {
        .navbar {
            border-bottom: theme-color("primary") 3px solid;
            li.nav-item.dropdown {
                div.dropdown-menu {
                    @extend .bg-dark;
                    .dropdown-item {
                        @extend .bg-dark;
                        @extend .text-white;
                    }
                    .dropdown-item:hover {
                        @extend .bg-secondary;
                        @extend .text-white;
                    }
                }
            }
        }
    }
    ui-loading-overlay {
        $ui-loading-overlay-opcacity: .8;
        @keyframes fade-in-overlay {
            0% {
                background-color: rgba(0, 0, 0, 0);
            }
            75% {
                background-color: rgba(0, 0, 0, 0);
            }
            100% {
                background-color: rgba(0, 0, 0, $ui-loading-overlay-opcacity);
            }
        }
        .overlay {
            animation-duration: 1.2s;
            animation-name: fade-in-overlay;
            animation-timing-function: ease-out;
            background-color: rgba(0, 0, 0, $ui-loading-overlay-opcacity);
            height: 100%;
            left: 0px;
            position: fixed;
            top: 0px;
            width: 100%;
            z-index: 9999;
            .message {
                color: white;
                font-size: x-large;
                margin-top: 30%;
                text-align: center;
            }
        }
    }
    ui-footer {
        .navbar {
            border-top: theme-color("primary") 3px solid;
        }
    }
    .table>thead.thead-dark>tr {
        border-bottom: theme-color("warning") 3px solid;
    }
    .mpReshape {
        @extend .m-0;
        @extend .p-0;
    }
    .collection {
        @extend .card;
        @extend .mb-2;
        &>.card-body {
            @extend .mpReshape;
        }
        .collection-action {
            @extend .border;
            @extend .border-secondary;
            @extend .d-flex;
            @extend .flex-column;
            @extend .m-1;
            @extend .text-success;
            &>div {
                @extend .mpReshape;
                @extend .p-2;
            }
            .collection-action-header {
                @extend .bg-light;
                @extend .text-secondary;
                cursor: pointer;
            }
            .collection-action-body {
                @extend .text-dark;
            }
            .collection-action-footer {
                @extend .bg-light;
                @extend .text-dark;
            }
            &.method-get {
                @extend .border-success;
                .collection-action-header {
                    @extend .text-success;
                }
            }
            &.method-post,
            &.method-delete {
                @extend .border-danger;
                .collection-action-header {
                    @extend .text-danger;
                }
            }
            &.method-put {
                @extend .border-warning;
                .collection-action-header {
                    @extend .text-warning;
                }
            }
        }
    }
    .badge {
        &.badge-method-get {
            @extend .badge-success;
        }
        &.badge-method-delete,
        &.badge-method-post {
            @extend .badge-danger;
        }
        &.badge-method-put,
        &.badge-method-patch {
            @extend .badge-warning;
        }
    }
}