<button type="button" class="d-none" data-toggle="modal" data-target="#error-modal" #modalTrigger></button>

<div id="error-modal" class="modal text-danger fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Error: {{data.title}}</h5>
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p *ngFor="let msg of data.message">{{msg}}</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>