<div class="mx-auto col-xs-12 col-sm-8 col-md-6 col-lg-4">
    <div class="card">
        <div class="card-header">
            <fa [name]="'user'"></fa> Login
        </div>

        <div class="card-body" *ngIf="!token">
            <form *ngIf="authType == 'basic'" (submit)="login($event)">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input [(ngModel)]="password" type="password" class="form-control form-control-sm" name="password" placeholder="Basic password...">
                    <small class="form-text text-muted">Provide the basic password this API requires for access.</small>
                </div>

                <button type="submit" class="btn btn-primary">
                    <fa [name]="'key'"></fa> Sign in
                </button>
            </form>
            <form *ngIf="authType == 'custom'" (submit)="login($event)">
                <div class="form-group">
                    <label for="token">Token</label>
                    <textarea [(ngModel)]="token" type="token" class="form-control form-control-sm" name="token" placeholder="Token..."></textarea>
                    <small class="form-text text-muted">Provide the authenticaiton token this API provided you through some other mechanism.</small>
                </div>

                <button type="submit" class="btn btn-primary">
                    <fa [name]="'key'"></fa> Sign in
                </button>
            </form>
        </div>
        <div class="card-body" *ngIf="token">
            <p>You are already logged in</p>

            <button type="button" class="btn btn-outline-secondary float-right" (click)="goHome($event)">
                <fa [name]="'home'"></fa> Home
            </button>
        </div>
    </div>
</div>