<ui-last-url delay="1000"></ui-last-url>

<div *ngFor="let collection of collections" class="mt-2">
    <ui-collection [collection]="collection.name" (reloadCollections)="loadCollections();"></ui-collection>
</div>

<form name="create-collection" (submit)="createCollection($event)" class="mt-5">
    <div class="input-group input-group-sm mb-3">
        <input type="text" name="name" [(ngModel)]="name" class="form-control form-control-sm" placeholder="Collection name..." aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button type="submit" class="btn btn-sm btn-primary">
                <fa [name]="'plus'"></fa> Create Collection
            </button>
        </div>
    </div>
</form>