<!-- Navbar @{ -->
<nav class="navbar navbar-dark bg-dark navbar-expand-sm mb-2">
    <div class="container">
        <a href="#" class="navbar-brand">DocsOnFileDB</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav  ml-auto">
                <li class="nav-item">
                    <span class="nav-link">{{restUri}}</span>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- @} -->