<div class="col-xs-12 col-lg-8 mx-auto">
    <div class="card">
        <div class="card-header text-capitalize">
            Initializer
        </div>

        <div class="card-body">
            <form (submit)="sendData($event)">
                <div class="form-group">
                    <label class="text-capitalize" for="data">Data</label>
                    <textarea class="form-control form-control-sm" name="data" [(ngModel)]="data" rows="15"></textarea>
                </div>

                <button type="button" class="btn btn-sm btn-outline-secondary float-right mx-1" (click)="tidy($event)">
                    <fa [name]="'arrow-left'"></fa> Tidy
                </button>
                <button type="button" class="btn btn-sm btn-secondary float-right mx-1" (click)="reset($event)">
                    <fa [name]="'undo'"></fa> Reset
                </button>
                <button type="submit" class="btn btn-sm btn-success float-left mx-1">
                    <fa [name]="'save'"></fa> Save
                </button>
                <button type="button" class="btn btn-sm btn-warning float-left mx-1" (click)="reapply($event)">
                    <fa [name]="'crosshairs'"></fa> Reapply
                </button>
            </form>
        </div>
    </div>
</div>